@namespace Jibini.SharedBase.Components
@implements IRenderable<PasswordResetEmail>

<html>
<body>

<p>Hello <strong>@Account?.Name</strong>,</p>

<p>
    You have requested a password reset for your account. If you believe that to
    be incorrect, please disregard this email.
</p>

<p>
    To proceed, click <a href="@Url">this link</a>. In case that does not work,
    try copying and pasting the following directly into a browser tab:
</p>

<p><a href="@Url">@Url</a></p>

<p>&mdash;</p>
<p>Generated Email</p>

</body>
</html>

@code {
    [Parameter]
    public IAccount? Account { get; set; }

    [Parameter]
    public string Url { get; set; } = "";

    public PasswordResetEmail()
    { }

    public PasswordResetEmail(IAccount account, string url)
    {
        Account = account;
        Url = url;
    }
}
