@page "/"
@namespace Jibini.SharedBase.Server.Pages
@inject NavigationManager nav
@inject ChromiumPdfService chrome
@inject IHxMessengerService toast

<PageTitle>Index</PageTitle>

<div class="container">

    <HxButton OnClick="@OnPdfClick" Icon="@BootstrapIcon.Download">PDF</HxButton>

    <HxButton OnClick="@OnSelfClick" Icon="@BootstrapIcon.Download">Self</HxButton>

</div>

@code {
    private async Task OnPdfClick()
    {
        toast.AddInformation("Rendering PDF");

        try
        {
            var pdf = await chrome.RenderPdf("<h1>Test</h1><button>Stuff</button>");

            using var output = new FileStream("test.pdf", FileMode.Create);
            await pdf.CopyToAsync(output);

            toast.AddInformation("Successfuly saved PDF");
        } catch (Exception ex)
        {
            toast.AddError(ex.Message);
        }
    }
    
    private async Task OnSelfClick()
    {
        toast.AddInformation("Rendering PDF");

        try
        {
            var self = nav.BaseUri.JoinUri("templates/test-pdf");
            var pdf = await chrome.RenderPdf(new Uri(self));

            using var output = new FileStream("test.pdf", FileMode.Create);
            await pdf.CopyToAsync(output);

            toast.AddInformation("Successfuly saved PDF");
        } catch (Exception ex)
        {
            toast.AddError(ex.Message);
        }
    }
}