#layout-container
{
    min-height: 100vh;
}

    #layout-container .hx-sidebar::deep *
    {
        color: white !important;
    }

#content-backdrop {
    background: var(--layout-background);

    height: 100vh;
    overflow-y: scroll;
}