* {
    --hx-sidebar-item-color: white !important;
    --hx-sidebar-brand-name-color: white !important;
    --hx-sidebar-background-color: #2d2b42 !important;
    --hx-form-spacing: 0.5rem !important;
    --layout-background: #dadee3;
}

#layout-container
{
    min-height: 100vh;
}

    ::deep #layout-container .hx-sidebar *
    {
        color: white !important;
    }

#content-backdrop {
    background: var(--layout-background);

    height: 100vh;
    overflow-y: scroll;
}

::deep .form-label {
    margin-bottom: 0 !important;
}