@implements IRenderable<TestTemplate>

<h3>@Param</h3>

@code {
    [Parameter]
    public string? Param { get; set; } = "None set";

    public TestTemplate()
    { }

    public TestTemplate(string? param)
    {
        Param = param;
    }
}
