@page "/MyFeature/Page1"
@namespace Jibini.SharedBase.Components.Pages
@model Page1Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
</body>
</html>
